<% @title=t('c_champion.index.title') %>

<div class = "row">
  <div class= "large-12 columns">
  <h1>What is a Champion?</h1>
  <p>  Champions’ are people working in nutrition-related advocacy with valuable, often practical knowledge who are known within their organisation or community for their effective ways of doing things, their knowledge and innovative leadership on development initiatives that positively impact the communities they work in. We want to find champions and train them so they can use their knowledge and skills to become training providers during the Learning Route visits and beyond. </p>
</div>
</div>

<br>

<% @champions.each do |apple| %>
<% name = apple.first_name + ' ' + apple.last_name%>
<% url = 'champions/' + apple.id.to_s %>
  <div class = "row large-12 columns">
    <div class = "large-3 columns">
      <%=link_to image_tag(apple.headshot.url,width:"100%"),url %>
    </div>
    <div class = "large-9 columns">
      <a href=<%= url %>><%= name %></a>
      <%= simple_format(apple.short_description) %>
    </div>
  </div>
  <br>
<% end %>

<div class="large-12 columns row">
  <h3> Nominate a potential Champion </h3>
  <p> Do you know a potential champion? Please send their details, contact:
<a href="mailto:C.Ruberto@savethechildren.org.uk">C.Ruberto@savethechildren.org.uk</a> </p>
</div>
