<% @title=t('c_learning_route.lrip.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1> Innovation Plans </h1>
    <p> The design of the Innovation Plan intends to support participants in capitalising on the knowledge acquired during the Learning Route in Rwanda, transforming this knowledge into practical actions to strengthen SUN Civil Societies Alliances’ coordinated activities to address malnutrition. </p>
    <p> Each innovation plan has been developed responding the following criteria: </p>
    <ul class='circles'>
      <li>build on the CSA's existing work</li>
      <li>build on new ideas gained from the LR exchange </li>
      <li>be practical to implement within 6 months </li>
      <li>be sustainable both economically and practically</li>
      <li>have potential to scale up or be </li>
    </ul>
    <p>Each innovation plan took inspiration from 1 or more than one case study of the Learning Route. Find more about the Rwanda Learning Route case studies <b> here </b>.</p>
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p>For more information about Innovation plans click <b> <%= link_to 'here', 'http://suncivilsocietynet.wixsite.com/learningroute/copy-of-rwanda-learning-route' %> </b> </p>
  </div>
</div>
