<% @title=t('c_general.about_lr.title') %>

<div class="row">
<div class = "large-12 columns">
  <div class="callout secondary">
    <h3> About Learning Routes </h3>
  </div>
</div>
<div class = "large-8 columns">
  <p> A Learning Route is a capacity building tool, developed by Procasur Corporation,
  designed as a facilitated planned journey with specific learning objectives. A LR is an on-going peer-to-peer
  training process that makes room for discussion, analysis and reflection, while encouraging an active and mutual knowledge
  exchange between participants and their hosts.
  </p></p>
  The ultimate aim is to develop the ability of the Learning Route’s participants
  to identify potentially useful innovations that can be adapted and then applied in the
  framework of their organizations in their own country.
  </p></p>
  The Learning Route’s methodology has been tested, adapted and renewed since 1996,
  through a long-term partnership between Procasur, IFAD and other international organizations.
  The Learning Route methodology has been used in more than 35 countries in Latin America and the Caribbean,
  Africa and Asia, involving over 3000 development practitioners.
  </p>
</div>
  <div class = "large-4 columns">
    <iframe src="https://www.youtube.com/embed/TJ8X0xoMcRE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
