<% @title=t('c_general.advocacy.title') %>

<div class = "row large-12 columns">
    <h1> Raising Our Voice </h1>
</div>

<div class = "row ">
  <div class = "large-4 columns">
    <%=image_tag("Ph1.jpg", alt: "Case Study: Mali", title: "Case Study: Mali")%>
  </div>
  <div class = "large-8 columns">
    <p><b>Parliamentary Champions</b> – We provide opportunities for parliamentarians across the globe to share experiences in tackling malnutrition and discuss ways to accelerate progress. We support parliamentarians keep increase the awareness of nutrition amongst other decision and hold them accountable to their previous commitments. Find out the latest about this initiative here.</p>
        <p> <b>Case Study: Mali</b> – In Mali, ‘The Network of Malian Parliamentarians for the Fight Against Malnutrition’ has been established with the support of Save the Children and World Vision. The network is made up of 13 parliamentarians committed to the fight against malnutrition in Mali. The network has worked closely with the national SUN Civil Society Alliance. The network organized a ‘Day of Exchange’ bringing together 30 parliamentarians to discuss their role in effectively implementing the Multi-Sectoral Action Plan on Nutrition 2014-2018.</p>
  </div>
</div>
<br>

<div class = "row ">
  <div class = "large-4 columns">
    <%=image_tag("Pakistaninvestinnutrition.jpg", alt: "Pakistan invest in nutrition", title: "Pakistan invest in nutrition")%>

  </div>
  <div class = "large-8 columns">
    <p><b>Budget Advocacy</b> –SUN CSAs are undertaking budget tracking to monitor government spending on nutrition. They are using this data in their advocacy to increase financial commitments towards tackling malnutriton.</p>
        <p> <b>Case study: Pakistan</b> – In Pakistan, the civil society alliance undertook Federal and Provincial budget analysis to track spending on nutrition. As part of their #Investinnutrition campaign, they used this data to lobby parliamentarians and to secure mass media coverage as well. As a result the Sindh government announced an allocation of one billion PKR to nutrition interventions annually for the next 3 years and the Federal Government allocated 100 million PKR for nutrition projects for the federal capital territory. </p>
  </div>
</div>
<br>

<div class = "row ">
  <div class = "large-4 columns">
    <%=image_tag("tanzaniamedia.jpg", alt: "Case Study: Tanzania", title: "Case Study: Tanzania")%>

  </div>
  <div class = "large-8 columns">
    <p> <b>Media</b> – alliances across the globe are using the media to increase awareness of nutrition and to keep pressure on governments to deliver on their commitments. Find out how SUN CSAs have been using the media for advocacy here.</p>
    <p> <b>Case Study: Tanzania</b> –PANITA, the SUN Civil Society Alliance in Tanzania, launched the ‘Journalist Excellence in Reporting on Nutrition’ award to incentivise more reporting on nutrition issues. The alliance held an awards ceremony with the Deputy Minister for Information, Culture, Arts and Sports as the guest of honour.</p>
  </div>
</div>
<br>
