<% @title=t('c_general.advocacy.title') %>

<div class = "row large-12 columns">
    <h1> Raising Our Voice </h1>
    <p> From local communities to global platforms, members of the SUN CSN are campaigning to raise the profile of nutrition and push for commitments to achieve zero hunger. Through our SUN CSN Advocacy group we identify opportunities to influence global frameworks, lobby for national commitments and share examples of effective advocacy. Read more about our influencing work below:</p>
</div>

<div class = "row ">
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
  </div>
  <div class = "large-8 columns">
    <p><b>Parliamentary Champions</b> – as part of the wider SUN movement we are supporting the development of a network of global Parliamentary Champions who are championing nutrition within their own governments and increasing the awareness of nutrition amongst parliamentarians in other countries. Find out the latest about this initiative here.</p>
  </div>
</div>
<br>

<div class = "row ">
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
  </div>
  <div class = "large-8 columns">
    <p> <b>Media</b> – alliances across the globe are using the media to increase awareness of nutrition and to keep pressure on governments to deliver on their commitments. Find out how SUN CSAs have been using the media for advocacy here. </p>
  </div>
</div>
<br>

<div class = "row ">
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
  </div>
  <div class = "large-8 columns">
    <p><b>Budget Advocacy</b> – SUN CSAs are undertaking budget tracking to monitor government spending on nutrition. They are using this data in their advocacy to increase national spending on nutrition. </p>
  </div>
</div>
<br>

<div class = "row ">
  <div class = "large-4 columns">
  </div>
  <div class = "large-8 columns">
    <p> Find out more about our latest campaigning <b>here</b> </p>
    <p> Sign up for the SUN CSN Advocacy Group <b>here</b> </p>
  </div>
</div>
