<% @title=t('c_general.contact.title') %>

<div class = "row large-12 columns">
  <div class="callout secondary">
    <h3> Contact Us </h3>
  </div>
<div>

<div class = "row">
  <div class="large-4 columns">
      <%=image_tag("cara_flowers.jpg", alt: "Cara Flowers, SUN Civil Society Network Coordinator", title: "Cara Flowers, SUN Civil Society Network Coordinator")%>
      <p> <b>Cara Flowers</b>, SUN Civil Society Network Coordinator</p>
      <a href="mailto:C.Flowers@savethechildren.org.uk">C.Flowers@savethechildren.org.uk</a>
  </div>
  <div class="large-4 columns">
      <%=image_tag("cecillia.jpg", alt: "Cecilia Ruberto, SUN Civil Society Learning Route Programme Coordinator", title: "Cecilia Ruberto, SUN Civil Society Learning Route Programme Coordinator")%>
      <p><b>Cecilia Ruberto</b>, SUN Civil Society Learning Route Programme Coordinator </p>
      <a href="mailto:C.Ruberto@savethechildren.org.uk">C.Ruberto@savethechildren.org.uk</a>
  </div>
  <div class="large-4 columns">
    <%=image_tag("megan.jpg", alt: "Megan Pennell, SUN Country Support Officer", title: "Megan Pennell, SUN Country Support Officer")%>
    <p> <b>Megan Pennell</b>, SUN Country Support Officer</p>
    <a href="mailto:M.Pennell@savethechildren.org.uk">M.Pennell@savethechildren.org.uk</a>
  </div>
</div>
