<% @title=t('c_general.governance.title') %>

<div class = "row large-12 columns">
    <h1> Governance </h1>
    <p> The SUN CSN is governed by a steering group, under the leadership of a chair and vice chair. The day-to-day work of the network is coordinated by the SUN CSN secretariat, currently hosted by Save the Children UK. </p>
    <center>
    <%=image_tag("governance.jpg", alt: "Governance Structure of SUN CSN", title: "Governance Structure of SUN CSN")%>
  </center>
  <h3>SUN CSN Secretariat role  </h3>
  <p> The SUN CSN Secretariat ensures communication between SUN civil society alliances, SUN movement networks and actors, the SUN movement secretariat and the wider nutrition community at a global as well as regional and national level. The SUN CSN secretariat develops guidance and provides technical support to civil society alliances. The secretariat also manages and shares the latest information on civil society and identifies global opportunities to share their lessons.   </p>
  <h3> Funding </h3>
  <p> The secretariat is funded thanks to the support of DfID and Irish Aid. The secretariat provides support to national alliances to identify and access funding opportunities to finance their work. </p>
  <p> <b> You can read our Terms of Reference here
     </br>
     </br>
     Steering Group profiles here </b></p>
</div>
