<% @title=t('c_general.governance.title') %>

<div class = "row large-12 columns">
    <h1> <%=t('c_general.governance.title') %> </h1>
    <p> The SUN CSN is governed by a steering group made up of representatives from different civil society organisations from across the global. The group is overseen by a chair and vice-chair. You can find profiles of the current Steering Group here.
The day-to-day work of the network is coordinated by the SUN CSN secretariat, currently hosted by Save the Children UK.</p>
<p> You can read our Terms of Reference <b> <%= link_to 'here', 'http://docs.scalingupnutrition.org/wp-content/uploads/2013/01/SUN-CSN-Terms-of-Reference-English.pdf' %> </b></p>
    <center>
    <%=image_tag("Governancestructure.jpg", alt: "Governance Structure of SUN CSN", title: "Governance Structure of SUN CSN")%>
  </center>
  <h3>SUN CSN Secretariat role</h3>
  <p>The SUN CSN Secretariat ensures communication between SUN civil society alliances, SUN movement networks and actors, the SUN movement secretariat and the wider nutrition community at a global as well as regional and national level. The SUN CSN secretariat develops guidance and provides technical support to civil society alliances. The secretariat also manages and shares the latest information from national civil society alliances and identifies global opportunities to share the latest learnings.</p>
  <h3> Funding </h3>
  <p>The SUN Civil Society Network has received financial support from a range of donors including, the Scaling Up Nutrition Multi-Partner Trust Fund, the Bill and Melinda Gates Foundation, the Children’s Investment Fund Foundation (CIFF), the UK Department for International Development (DfID), Irish Aid and the German government (GIZ).</p>
  <p>Members of the SUN CSN also provide large contributions towards to SUN CSN through staff time, organisational resources and strategic leadership. We are hugely thankful for these generous contributions that make our work possible. </p>
  <p>The secretariat provides support to national alliances to identify and access funding opportunities to finance their work.</p>
</div>
