<% @title="Resources" %>

<div class = "row large-12 columns">
  <h1> Resources</h1>
<div>

<% @resources.each do |apple| %>
  <div class = "large-12 columns">
    <%= apple.file.content_type %>
    <%= link_to "Download", apple.file.url(:original, false) %>
  </div>
<% end %>
