<% @title=t('c_general.what_we_do.title') %>

<div class = "row large-12 columns">
    <h1> What we Do </h1>
    <p> Civil society makes a unique contribution to the SUN movement. Here’s just some of the ways that we are supporting the fight against hunger and malnutrition: </p>
    <ul class='circles'>
      <li><b>Raising our voice</b> – through advocacy and policy development we help to ensure that national plans, reflect the views and realities of those affected by malnutrition. We raise the profile of nutrition and encourage governments to raise their ambition. We work with communities to raise awareness of their right to food and nutrition.</li>
      <li><b> Building Capacity </b> – we share best-practices in addressing nutrition across civil society to build our capacity as implementation partners. We identify innovation and provide governments with solutions, to scale up success.</li>
      <li><b>Monitoring Progress </b> - we are monitoring and tracking nutrition spending and the implementation of national plans, holding governments accountable to their promises and collecting data at a local level to ensure we leave no one behind.</li>
    </ul>
    <p> You can read our full 2016-2020 strategy <b>here </b>
        <br>
        <br>
        You can find the SUN CSN Theory of Change <b>here</b> </p>
</div>
<hr>
<br>
<div class = "row">
  <div class = "large-8 columns">
    <h4> Our Impact – How are we helping to end malnutrition? </h4>
    <ul class='circles'>
      <li>In Zambia, the SUN CSA used media campaigns and convinced MPs to form an All Party Parliamentary Caucus on food and nutrition. Nutrition was also included in manifestos and political commitments. This has been replicated by alliances in Malawi, Tanzania and Kenya as a direct result of the experience sharing with Zambia.</li>
      <br>
      <li>The Peru CSA persuaded Government to include conditions in cash transfer programs for poorest, requiring mothers to take children for medical checks. This led to a 40% drop in child malnutrition in targeted areas.   </li>
    </ul>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
  </div>
</div>
