<% @title=t('c_general.what_we_do.title') %>

<div class = "row large-12 columns">
    <h1> <%=t('c_general.what_we_do.title')%></h1>
    <p> The SUN CSN is part of the Scaling Up Nutrition Movement which unites governments, UN bodies, businesses, donors as well as civil society in a collective effort to end malnutrition. The SUN CSN encourages the formation of vibrant civil society alliances in each SUN country to strengthen national plans to tackle hunger and malnutrition.</p>
    <p> Find out more about the wider Scaling Up Nutrition movement <%= link_to 'here', 'http://scalingupnutrition.org/', class:"blink" %> </p>
    <p> Civil society makes a unique contribution to the SUN movement. Here are just some of the ways that we are supporting the fight against hunger and malnutrition: </p>
    <ul class='circles'>
      <li><b>Advocating</b> –  through social mobilisation, advocacy and campaigning we are raising awareness of the importance of investing in nutrition and encouraging governments make it a priority. We are raising our voice to ensure that national development plans respond to the experiences of those affected by malnutrition. And we are working with communities to make them aware of their right to good food and nutrition. </li>
      <li><b>Implementing </b> –  through programming we are reaching affected communities and delivering services.   We are creating solutions, collecting evidence and informing best practice. We are also delivering training to build the capacity of civil society as implementation partners. </li>
      <li><b>Monitoring </b> - from a local to a global level we are tracking progress towards eliminating malnutrition. We are monitoring nutrition spending, collecting data to ensure we leave no one behind and holding governments accountable to their promises.</li>
    </ul>
    <p> The SUN CSN plays a crucial role in coordinating civil society so that we can make sure our voice is stronger, our work is more coordinated and we can reach the most excluded communities. </p>
    <p> You can read the SUN CSN 2016-2020 strategy <%= link_to 'here', 'http://www.suncivilsociety.com/about-csn', class:"blink" %> </p>
</div>
<hr>
<br>
<div class = "row">
  <div class = "large-8 columns">
    <h4><b> Our Impact – How are we helping to end malnutrition?</b> </h4>
    <ul class='circles'>
      <li>In Zambia, the SUN CSA convinced MPs to form an All Party Parliamentary Caucus on food and nutrition. Nutrition was also included in manifestos and political commitments. This has been replicated by alliances in Malawi, Tanzania and Kenya as a direct result of experience sharing with Zambia.</li>
      <br>
      <li>The Peru CSA persuaded Government to include conditions in cash transfer programs for the poorest, requiring mothers to take children for medical checks. This led to a 40% drop in child malnutrition in targeted areas.</li>
      <br>
      <li>In Laos, civil society was not well coordinated before the SUN Civil Society Alliance began work in 2014. Civil Society now has a strong, credible partnership with government and local civil society have platform for participation. The CSA helped run the first ever National Nutrition Forum for all sector and all levels of government.</li>
    </ul>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("WWD_Speech_Bubble.jpg", alt: "Quote from Banthida Komphasouk", title: "Quote from Banthida Komphasouk")%>
  </div>
</div>
