<% @title=t('c_news.index.title') %>

<div class = "row large-12 columns">
    <h1> News </h1>
</div>


<% @posts.each do |apple| %>
  <div class = "row large-12 columns">
      <%= simple_format(apple.title) %>
  </div>
  <br>
<% end %>


<div class = "row large-12 columns">
    <%= paginate @posts %>
</div>
