// Place all the styles related to the country controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.COUNTRY-LIST{
  background-color:#cdcdcd;
  border: 1px solid #E3E5E8;
}

.COUNTRY-LIST a{
  color: white;
  font-weight: bold;
}

.COUNTRY-LIST a:hover{
  color: white;
  font-weight: bold;
}
