// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_span{
  height: 400px;
  width: 100%;
  background: image-url('Home.png') no-repeat center center;
  background-size: cover;
}

ul.circles{
  list-style-type: circle;
}
